body {
    margin: 0;
    padding: 0;
}
table th, table td {
	padding: 10px 20px;
}
.topBar {
	position: relative;
	height: 100px;
	background-color: #52A2C5;	
}
.topBar .nav, .topBar p{
	position: absolute;
	bottom: 0;
}
.topBar .nav a, .topBar p, .logout a {
	color: #FFF;
}
.active {
	background-color: #FFF;
	color: #000 !important;
}
.logout {
	position: absolute;
	right: 10px;
	bottom: 20px;
}
.login-centerize {
	text-align: center;
	margin-top: 50px;
}
.login-centerize form input, .login-centerize form select{
	margin-bottom: 10px;
}
.needhelp {
	background-color: #52A2C5;
	padding: 10px;
	color: #FFF;
	height: 300px;
}
.outofstock {
	background-color: #C55282;
	padding: 10px;
	color: #FFF;
	height: 300px;
}
.expiring {
	background-color: #52C57B;
	padding: 10px;
	color: #FFF;
	height: 300px;
}
.inventory {
	background-color: #C5B252;
	padding: 10px;
	color: #FFF;
	height: 300px;
}
.needhelp h3, .outofstock h3, .expiring h3, .invetory h3{
	font-weight: bold;
}
.dashboard {
	text-align: left;
	font-size: 16px;
}
input[type=checkbox] {
	display: inline;
}
.msg {
	margin-top:10px;
}
.orgitems {
	margin-left: 20px;
	border-bottom: 1px solid #CCC;
}
.orgitems .items {
	margin-left: 20px;
}
.nopadding {
	margin-left: -10px;
	padding-left: 0;
}
.listclass {
	text-align: left;
}
#addField {
	cursor: pointer;
	font-size: 12px;
}
.nopadding {
	margin: 0 !important;
}
#itemField input {
	
	float: left;
	margin-bottom: 10px;
	margin-right: 10px;
}
.nopadding {
	margin-left: 0;
	padding-left: 0;
}
.msgbox {
	font-size: 12px;
	color: #F66;
}
.success-msg {
	color: #66F;
}